[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pymysql = "*"
loguru = "*"
pyyaml = "*"
passlib = "*"
gunicorn = "*"
qiniu = "*"
python-multipart = "*"
[dev-packages]

[requires]
python_version = "3.10.0"