[[source]]
url = "https://mirrors.cloud.tencent.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
gunicorn = "*"
tortoise-orm = "*"
aiomysql = "*"
loguru = "*"
pyyaml = "*"
passlib = "*"
qiniu = "*"

[dev-packages]

[requires]
python_version = "3.10.0"
